# Eclipse Stuff
.project
.classpath
.settings/
.factorypath

.vscode/

target/

pom.xml.versionsBackup
dependency-reduced-pom.xml

# IntelliJ Stuff
classes/
.idea/
*.iml

.DS_Store

# Java dumps
javacore.*
jitdump.*.dmp
Snap.*.trc
