<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2018-2019 Jesse Gallagher

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
	
	<!--
		Project Explorer extensions
	--> 
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent id="org.openntf.nsfodp.eclipse.resources.DesignElementsContentProvider"
            contentProvider="org.openntf.nsfodp.eclipse.resources.DesignElementsContentProvider"
            labelProvider="org.openntf.nsfodp.eclipse.resources.DesignElementsLabelProvider"
            name="ODP Design Elements"
            icon="icons/applications-accessories.png"
            activeByDefault="true"
            priority="normal">
       
        <override suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"        
                  policy="InvokeOnlyIfSuppressedExtAlsoVisibleAndActive"/>
          
        <triggerPoints>
        	<or>
          		<instanceof value="org.eclipse.core.resources.IProject"/>
          	</or>
        </triggerPoints>
        
        <possibleChildren>
        	<or>
          		<instanceof value="org.openntf.nsfodp.eclipse.resources.DesignElementNode"/>
          	</or>
        </possibleChildren>
      
        <commonSorter id="org.openntf.nsfodp.eclipse.resources.DesignElementsSorter"
                      class="org.openntf.nsfodp.eclipse.resources.DesignElementsSorter">
          <parentExpression>
	           <or>         
	             <instanceof value="org.eclipse.core.resources.IProject"/>
	             <instanceof value="org.openntf.nsfodp.eclipse.resources.DesignElementNode"/>
	             <instanceof value="org.eclipse.core.resources.IFolder"/>
	             <instanceof value="org.eclipse.core.resources.IFile"/>
	           </or>
          </parentExpression>
        </commonSorter>
      </navigatorContent>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.openntf.nsfodp.eclipse.resources.DesignElementsContentProvider"/>
         </includes>
      </viewerContentBinding>
   </extension> 
</plugin>
