<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2018-2019 Jesse Gallagher

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.wildwebdeveloper.xml.xmllsExtension">
		<jar path="ext/org.openntf.nsfodp.lsp4xml.xsp.jar"/>
	</extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <contentTypeMapping
            contentType="org.openntf.nsfodp.eclipse.nsfodpXsp"
            id="org.openntf.nsfodp.lsp.xsp">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.openntf.nsfodp.eclipse.nsfodpXsp"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <scopeNameContentTypeBinding
            contentTypeId="org.openntf.nsfodp.eclipse.nsfodpXsp"
            scopeName="source.xml">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.openntf.nsfodp.eclipse.nsfodpXsp"
            path="language-configurations/xsp/xsp.language-configuration.json">
      </languageConfiguration>
   </extension>
</plugin>
