<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2018-2019 Jesse Gallagher

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
	<!--
		ODP project nature 
	-->
	<extension
		point="org.eclipse.core.resources.natures"
		id="org.openntf.nsfodp.nature"
		name="NSF On-Disk Project">
		<runtime>
			<run class="org.openntf.nsfodp.eclipse.nature.OnDiskProjectNature"/>
		</runtime>
		<content-type id="nsfodpDxl"/>
		<content-type id="nsfodpDatabaseScript"/>
		<content-type id="nsfodpDatabaseIcon"/>
		<content-type id="nsfodpDatabaseProperties"/>
		<content-type id="nsfodpMetadataFile"/>
		<content-type id="nsfodpPage"/>
		<content-type id="nsfodpFrameset"/>
		<content-type id="nsfodpAboutDocument"/>
		<content-type id="nsfodpUsingDocument"/>
		<content-type id="nsfodpIconNote"/>
		<content-type id="nsfodpSharedField"/>
		<content-type id="nsfodpForm"/>
		<content-type id="nsfodpView"/>
		<content-type id="nsfodpJavaLibrary"/>
		<content-type id="nsfodpSharedActions"/>
		<content-type id="nsfodpFormulaAgent"/>
		<content-type id="nsfodpLotusScriptAgent"/>
		<content-type id="nsfodpSimpleActionAgent"/>
		<content-type id="nsfodpJavaAgent"/>
		<content-type id="nsfodpSubform"/>
		<content-type id="nsfodpNavigator"/>
		<content-type id="nsfodpOutline"/>
		<content-type id="nsfodpXspConfig"/>
		<content-type id="nsfodpXsp"/>
		<content-type id="nsfodpXspTheme"/>
		<content-type id="nsfodpSsjs"/>
	</extension>

	<extension
		point="org.eclipse.core.expressions.definitions">
		<definition
			id="org.openntf.nsfodp.hasOdpNature">
			<adapt type="org.eclipse.core.resources.IProject">
				<test property="org.eclipse.core.resources.projectNature"
					value="org.openntf.nsfodp.nature">
				</test>
			</adapt>
		</definition>
	</extension>
	
	<!--
		Content type definitions
	-->
	<extension point="org.eclipse.core.runtime.contentTypes">
		<!-- DXL types -->
		<content-type
			id="nsfodpDxl"
			name="DXL File"
			base-type="org.eclipse.core.runtime.xml"
			file-extensions="dxl">
			<describer class="org.openntf.nsfodp.eclipse.content.DatabaseScriptContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpDatabaseScript"
			name="NSF ODP Database Script"
			base-type="nsfodpDxl"
			file-names="dbscript.lsdb">
			<describer class="org.openntf.nsfodp.eclipse.content.DatabaseScriptContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpDatabaseIcon"
			name="NSF ODP Database Icon"
			base-type="nsfodpDxl"
			file-names="$DbIcon">
			<describer class="org.openntf.nsfodp.eclipse.content.DatabaseIconContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpDatabaseProperties"
			name="NSF ODP Database Properties"
			base-type="nsfodpDxl"
			file-names="database.properties">
			<describer class="org.openntf.nsfodp.eclipse.content.DatabaseIconContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpMetadataFile"
			name="NSF ODP Metadata File"
			base-type="nsfodpDxl"
			file-extensions="metadata">
			<describer class="org.openntf.nsfodp.eclipse.content.MetadataContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpPage"
			name="NSF ODP Page"
			base-type="nsfodpDxl"
			file-extensions="page">
			<describer class="org.openntf.nsfodp.eclipse.content.PageContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpFrameset"
			name="NSF ODP Frameset"
			base-type="nsfodpDxl"
			file-extensions="frameset">
			<describer class="org.openntf.nsfodp.eclipse.content.FramesetContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpAboutDocument"
			name="NSF ODP About Document"
			base-type="nsfodpDxl"
			file-names="AboutDocument">
			<describer class="org.openntf.nsfodp.eclipse.content.AboutDocumentContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpUsingDocument"
			name="NSF ODP Using Document"
			base-type="nsfodpDxl"
			file-names="UsingDocument">
			<describer class="org.openntf.nsfodp.eclipse.content.UsingDocumentContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpIconNote"
			name="NSF ODP Icon Note"
			base-type="nsfodpDxl"
			file-names="IconNote">
			<describer class="org.openntf.nsfodp.eclipse.content.IconNoteContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpSharedField"
			name="NSF ODP Shared Field"
			base-type="nsfodpDxl"
			file-extensions="field">
			<describer class="org.openntf.nsfodp.eclipse.content.SharedFieldContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpForm"
			name="NSF ODP Form"
			base-type="nsfodpDxl"
			file-extensions="form">
			<describer class="org.openntf.nsfodp.eclipse.content.FormContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpView"
			name="NSF ODP View"
			base-type="nsfodpDxl"
			file-extensions="view">
			<describer class="org.openntf.nsfodp.eclipse.content.ViewContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpJavaLibrary"
			name="NSF ODP Java Library"
			base-type="nsfodpDxl"
			file-extensions="javalib">
			<describer class="org.openntf.nsfodp.eclipse.content.JavaLibraryContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpSharedActions"
			name="NSF ODP Shared Actions"
			base-type="nsfodpDxl"
			file-names="Shared Actions">
			<describer class="org.openntf.nsfodp.eclipse.content.SharedActionsContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpFormulaAgent"
			name="NSF ODP Formula Agent"
			base-type="nsfodpDxl"
			file-extensions="fa">
			<describer class="org.openntf.nsfodp.eclipse.content.FormulaAgentContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpLotusScriptAgent"
			name="NSF ODP LotusScript Agent"
			base-type="nsfodpDxl"
			file-extensions="lsa">
			<describer class="org.openntf.nsfodp.eclipse.content.LotusScriptAgentContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpSimpleActionAgent"
			name="NSF ODP Simple Action Agent"
			base-type="nsfodpDxl"
			file-extensions="aa">
			<describer class="org.openntf.nsfodp.eclipse.content.SimpleActionAgentContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpJavaAgent"
			name="NSF ODP Java Agent"
			base-type="nsfodpDxl"
			file-extensions="ja">
			<describer class="org.openntf.nsfodp.eclipse.content.JavaAgentContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpSubform"
			name="NSF ODP Subform"
			base-type="nsfodpDxl"
			file-extensions="subform">
			<describer class="org.openntf.nsfodp.eclipse.content.SubformContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpNavigator"
			name="NSF ODP Navigator"
			base-type="nsfodpDxl"
			file-extensions="navigator">
			<describer class="org.openntf.nsfodp.eclipse.content.NavigatorContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpOutline"
			name="NSF ODP Outline"
			base-type="nsfodpDxl"
			file-extensions="outline">
			<describer class="org.openntf.nsfodp.eclipse.content.OutlineContentDescriber"/>
		</content-type>
		
		<!-- XPages source elements -->
		<content-type
			id="nsfodpXspConfig"
			name="XPages Configuration File"
			base-type="org.eclipse.core.runtime.xml"
			file-extensions="xsp-config">
			<describer class="org.openntf.nsfodp.eclipse.content.XspConfigContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpXsp"
			name="XPages Source File"
			base-type="org.eclipse.core.runtime.xml"
			file-extensions="xsp">
			<describer class="org.openntf.nsfodp.eclipse.content.XspContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpXspTheme"
			name="XPages Theme File"
			base-type="org.eclipse.core.runtime.xml"
			file-extensions="theme">
			<describer class="org.openntf.nsfodp.eclipse.content.ThemeContentDescriber"/>
		</content-type>
		<content-type
			id="nsfodpSsjs"
			name="XPages Server JavaScript"
			base-type="jsSource"
			file-extensions="jss">
		</content-type>
	</extension>
</plugin>
